<div class="evidence-wrapper">
  <div class="header">
    <h2>📑 Audit Evidence</h2>

    <div class="header-actions">
      <input
        type="text"
        [(ngModel)]="searchTerm"
        placeholder="🔍 Search evidence..."
        class="search-box"
      />


      <a
        routerLink="new"
        class="btn-add"
      >
        + Add Evidence
      </a>

      <div class="flex gap-2 mb-4">
  <button (click)="setFilter('All')" class="px-3 py-1 rounded"
    [class.bg-green-500]="progressFilter==='All'" [class.text-white]="progressFilter==='All'">
    All
  </button>
  <button (click)="setFilter('Belum Tindak')" class="px-3 py-1 rounded"
    [class.bg-green-500]="progressFilter==='Belum Tindak'" [class.text-white]="progressFilter==='Belum Tindak'">
    Belum Tindak
  </button>
  <button (click)="setFilter('Dalam Proses')" class="px-3 py-1 rounded"
    [class.bg-green-500]="progressFilter==='Dalam Proses'" [class.text-white]="progressFilter==='Dalam Proses'">
    Dalam Proses
  </button>
  <button (click)="setFilter('Tercapai')" class="px-3 py-1 rounded"
    [class.bg-green-500]="progressFilter==='Tercapai'" [class.text-white]="progressFilter==='Tercapai'">
    Tercapai
  </button>
</div>

    </div>
  </div>

  <div class="evidence-grid">
    <div
      class="evidence-card"
      *ngFor="let e of filteredEvidences()"
    >
      <div class="card-content">
        <div class="card-temuan">Temuan: {{ e.temuan }}</div>
        <div class="card-progress">
          Progress:
          <span
            class="badge"
            [ngClass]="{
              'badge-belum': e.progress === 'Belum Tindak',
              'badge-proses': e.progress === 'Dalam Proses',
              'badge-done': e.progress === 'Tercapai'
            }"
          >
            {{ e.progress }}
          </span>
        </div>
      </div>
       <div class="card-footer">
        <a [routerLink]="['/evidence', 'detail', e.id]" class="detail-button">
          Lihat Detail
        </a>
      </div>
    </div>
  </div>
</div>