<div class="audit-container">
  <!-- Header -->
  <div class="audit-header">
    <div class="header-content">
      <h1 class="main-title">Review Evidence</h1>
    </div>
   <div *ngIf="!evidence" class="filter-actions">
    <label for="monthSelect">Pilih Bulan:</label>
    <select id="monthSelect" [(ngModel)]="selectedMonth">
      <option *ngFor="let m of months" [value]="m.value">{{ m.name }}</option>
    </select>
    <button (click)="downloadPDFPerBulan()">Download PDF</button>
  </div>

  </div>

  <div *ngIf="evidence; else listAll">
    <h2 class="section-title">Detail Evidence</h2>
    <div class="audit-plan-card">
      <div class="plan-grid">
        <div class="plan-item"><label>Temuan :</label> <span>{{ evidence.temuan }}</span></div>
        <div class="plan-item"><label>Rekomendasi :</label> <span>{{ evidence.rekomendasi }}</span></div>
        <div class="plan-item"><label>Status :</label> <span>{{ evidence.status }}</span></div>
        <div class="plan-item"><label>Kriteria :</label> <span>{{ evidence.kriteria }}</span></div>
        <div class="plan-item"><label>Progress :</label> <span>{{ evidence.progress }}</span></div>
        <div class="plan-item"><label>Tanggal :</label> <span>{{ evidence.tanggal | date:'dd-MM-yyyy' }}</span></div>
      </div>
    </div>
  </div>

  <ng-template #listAll>
    <div *ngIf="evidences.length > 0; else noData">
      <h2 class="section-title">Daftar Evidence</h2>
      <div *ngFor="let e of evidences" class="evidence-detail">
        <div class="audit-plan-card">
          <h2 class="section-title">{{ e.temuan }}</h2> <hr>
          <br>
          <div class="plan-grid">
            <div class="plan-item"><label>Temuan :</label> <span>{{ e.temuan }}</span></div>
            <div class="plan-item"><label>Rekomendasi :</label> <span>{{ e.rekomendasi }}</span></div>
            <div class="plan-item"><label>Status :</label> <span>{{ e.status }}</span></div>
            <div class="plan-item"><label>Kriteria :</label> <span>{{ e.kriteria }}</span></div>
            <div class="plan-item"><label>Progress :</label> <span>{{ e.progress }}</span></div>
            <div class="plan-item"><label>Tanggal :</label> <span>{{ e.tanggal | date:'dd-MM-yyyy' }}</span></div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #noData>
      <p>Tidak ada evidence tersedia.</p>
    </ng-template>
  </ng-template>
</div>
