.container {
  max-width: 1200px;
  font-size: 20px;
  margin-bottom: 50px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 20px; 
  justify-content: start;
}

.grid > div {
  background: #0f1e17;
  border: 2px solid #22c55e; 
  border-radius: 16px;
  padding: 5px 10px 20px 20px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.08);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.grid > div:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);
}

.grid h3 {
  color: #fff; 
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: 800;
  text-align: center;
}

.grid p {
  font-size: 14px;
  color: #eff0f3;
  margin-bottom: 4px;
}

.grid p b {
  color: #e7e7e7;
}

button {
  background-color: #1f7a8c; 
  color: #ffffff; 
  font-weight: 600;
  padding: 8px 16px;
  border: none;
  border-radius: 12px; 
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

button:hover {
  background-color: #3caea3; 
  transform: scale(1.05);
}

button:active {
  transform: scale(0.98);
}

button.secondary {
  background-color: #444444; 
  color: #fff;
}

button.secondary:hover {
  background-color: #666666;
}
